name: Build and Deploy FastAPI to GCP VM

on:
  push:
    branches:
      - main

env:
  PROJECT_ID: kxnwork
  REGION: us-central1
  IMAGE_NAME: fastapi
  IMAGE_TAG: latest
  ARTIFACT_REPO: gcp-vm
  IMAGE_HOST: us-central1-docker.pkg.dev
  VM_NAME: fastapi-vm
  VM_ZONE: us-central1-a

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:

    - name: Checkout
      uses: actions/checkout@v3

    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v2
      with:
        workload_identity_provider: "projects/382207431122/locations/global/workloadIdentityPools/github-pool/providers/github-oidc"
        service_account: "github-deployer@kxnwork.iam.gserviceaccount.com"

    - name: Set up gcloud CLI
      uses: google-github-actions/setup-gcloud@v2

    - name: Configure Docker for Artifact Registry
      run: |
        gcloud auth configure-docker $IMAGE_HOST

    - name: Build & Push Docker Image
      run: |
        IMAGE_URI="$IMAGE_HOST/$PROJECT_ID/$ARTIFACT_REPO/$IMAGE_NAME:$IMAGE_TAG"
        echo "IMAGE_URI=$IMAGE_URI"
        docker build -t $IMAGE_URI ./app
        docker push $IMAGE_URI

    - name: Deploy on VM
      run: |
        gcloud compute instances update-container $VM_NAME \
          --zone=$VM_ZONE \
          --container-image="$IMAGE_HOST/$PROJECT_ID/$ARTIFACT_REPO/$IMAGE_NAME:$IMAGE_TAG"

